<!-- Header -->
<div class="header">
  <div class="header-top flex">
    <div class="top-left">
      <ul class="left-list">
        <li class="left-item active"><a href="home">HOME</a></li>
        <li class="left-item"><a href="about">ABOUT Restaurant-Menu</a></li>
      </ul>
    </div>

    <div class="top-right">
      <ul class="right-list">
        <li class="right-item"><a href="sign-in">SIGNIN</a></li>
        <li class="right-item extra"><a href="register-user">REGISTER</a></li>
      </ul>
    </div>
  </div>
  <div class="herder-middle flex">
    <div class="sidebar" id="sidePanel">
      <a
        href="javascript:void(0)"
        class="closebtn"
        onclick="closeside()"
        style="color: black"
        (click)="cross()"
        >×</a
      >
    </div>
  </div>
</div>
